<?php

//Include data type in server respnose
header('Content-Type: application/json');

//Allows applications to make requests from outside your domain.
//Uncomment this if you wish for your endpoints to be accessable to be accessable from any origin.
/* WARNING: It is not recommended to allow requests from all 
origins as your endpoints will be exposed for use by anyone. 
Perhaps allow access on a per-origin basis. */
//header('Access-Control-Allow-Origin: *');

/* Get your consumer/user key 
and secret from https://apps.twitter.com
and replace the values below */
$oAuthKeys = array(
    'consumer_key' => 'YOUR_CONSUMER_KEY',
    'consumer_secret' => 'YOUR_CONSUMER_SECRET',
    'user_token' => 'YOUR_USER_TOKEN',
    'user_secret' => 'YOUR_USER_SECRET'
);

?>
